@media (max-width: 1150px) {

    .header__title {
        font-size: 46px;
    }

    // cta 

    .cta__text {
        padding-right: 50px;
        margin-left: 20px;
    }

    // Thakns

  .thanks__wrapper {
      display: block;
      text-align: center;
      
      
  }
  

  .thanks__card {

      &:last-child::after {
          display: none;
      }

      & img {
          display: inline-block;
          text-align: center;
      }
  }

  .thanks__card-img {
      display: inline-block;
      text-align: center;
  }

  .thanks {
      margin-bottom: 25px
  }

//   Objects

    .objects__row {
        display: block;
    }

    .objects__img {
        justify-content: center;
        align-items: center;
    }

    .objects__text {
        text-align: center;
        padding: 0 30px;
        margin: 0 auto;
        
    }
}

@media (max-width: 950px) {

    .header__img {
        display: none;
    }


// cta
    .cta__img {
        display: none;
    }

    .cta__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0;
        padding: 15px;
    }

    .cta__block {
        justify-content: center;
    }

    .cta__title {
        text-align: center;
    }

// Choose

    .choose__card:not(:last-child) {
        margin-bottom: 30px;
    }

    .choose__wrapper {
        display: block; 
    }





    .footer__wrapper {
        display: block;
    }

    .footer__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            text-align: center;
        }
    }

    .footer__img {
        margin-right: 10px;
        
    }
}

@media (max-width: 768px) {

    
    .header {
        padding-top: 0;
    }
    
    .container {
        margin: 0 auto;
        padding: 0 15px;
        
    }

    .nav__wrapper {
        background-color: #f78434;
        margin: 0 auto;
    }

    .nav__title {
        font-size: 30px;
        color: white;
    }

    .nav__item {
        font-size: 15px;
    }

    .nav {
        display: none;
    }

    .nav__logo {
        margin: 0 auto;
    }

    .header__wrapper {
        flex-direction: column;
    }

    .header__title {
        font-size: 40px;
        line-height: 59px;
        width: 400px;
        text-align: center;
    }

    .header__text {
        font-size: 14px;
    }

    .header__form {
        width: 250px;
    }

    .form__input {
        margin: 10px;
    }

    // links 

    

    .links__item {
        max-width: 110px;
    }

    // objects 

    .objects__img-card {
        max-width: 270px;
    }

    .card__info {
        max-width: 150px;
        padding: 15px;

        h3 {
            font-size: 13px;
        }
        
        p {
            font-size: 12px;
            line-height: 18px;
        }
    }

    .container.container__fluid.container__no-padding {
        max-width: 700px;
     }

// serv
     .serve__wrapper {
        flex-direction: column;
     }

     .serve__card {
        max-width: 400px;
     }

     .service__card-svg {
        padding: 20px 0;
     }

     .serve__content {

        h3 {
            font-size: 35px;
        }

        p {
            font-size: 15px;
        }
     }

     .serve__title {

        h3 {
            font-size: 30px;
        }

        p {
            font-size: 13px;
            text-align: center;
            line-height: 20px;
        }
     }
}

@media (max-width: 425px) {

    .nav__wrapper {
        margin-bottom: 20px;
    }

    .container {
        padding: 15px;
    }

    .header__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header__content {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .header__title {
        font-size: 30px;
        width: 300px;
        line-height: 35px;
        margin: 0 auto 15px;
        
    }

    .header__text {
        font-size: 13px;
        max-width: 200px;
    }

    .header__form {
        width: 100px;
        flex-direction: column;
        margin: 0 auto;
        background-color: white;
        box-shadow: none;
        
    }

    .form__btn {
        padding: 10px 20px;
    }

    .form__input {
        background: #fff;
        box-shadow: 0px 17px 42px 0px rgba(0,0,0,.12);
        font-size: 15px;
    }

    // links 

    .links__item {
        max-width: 60px;
    }

    // objects 

    .objects__img-card {
        max-width: 140px;
    }

    .card__info {


        max-width: 90px;
        padding: 10px 15px;

        h3 {
            font-size: 10px;
        }
        
        p {
            font-size: 8px;
            line-height: 10px;
        }
    }

    .img-card__info {
        position: absolute;
        right: 70px;
        bottom: 87px;
    }

    .objects__text .objects__title  {
        font-size: 30px;
        line-height: 35px;
    }

    .objects__text .objects__content {
        font-size: 13px;
    }

    .container.container__fluid.container__no-padding {
       max-width: 390px;
    }

    // cta 

    .cta__title {
        font-size: 20px;
        line-height: 40px;
    }

    .cta__text {
        max-width: 100%;

        p {
            max-width: 250px;
            font-size: 10px;
            text-align: center;
            line-height: 17px;
        }
    }

    .cta__btn {
        font-size: 12px;
        padding: 10px 20px;
    }

    .play::before {
        left: 8px;
    }

    .serve__card {
        max-width: 320px;
    }
}


@media (max-width: 320px) {
    .container.container__fluid.container__no-padding {
        max-width: 280px;
     }
}