@media (max-width: 1150px) {
  .thanks__wrapper {
      display: block;
      text-align: center;
      
      
  }
  

  .thanks__card {

      &:last-child::after {
          display: none;
      }

      & img {
          display: inline-block;
          text-align: center;
      }
  }

  .thanks__card-img {
      display: inline-block;
      text-align: center;
  }

  .thanks {
      margin-bottom: 25px
  }

    .objects__row {
        display: block;
    }

    .objects__img {
        justify-content: center;
        align-items: center;
    }

    .objects__text {
        text-align: center;
        padding: 0 30px;
        margin: 0 auto;
        
    }
}

@media (max-width: 950px) {
    .header__img {
        display: none;
    }

    .footer__wrapper {
        display: block;
    }

    .footer__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            text-align: center;
        }
    }

    .footer__img {
        margin-right: 10px;
        
    }

    .cta__img {
        display: none;
    }

    .cta__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0;
        padding: 15px;
    }

    .cta__block {
        justify-content: center;
    }

    .cta__title {
        text-align: center;
    }

    .choose__card:not(:last-child) {
        margin-bottom: 30px;
    }

    .choose__wrapper {
        display: block; 
    }
}