.header {
    padding-top: 20px;
    margin-bottom: 100px;
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 10px
}

.nav__title {
    color: #323232;
    font-size: 24px;
    font-weight: 700;
}

.nav {
    color: #323232;
    margin-bottom: 20px;
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 42px;
}

.nav__item {
    transition: color .3s ease-in-out;

    a {
        color: inherit;
        text-decoration: none;
        display: inline-block;
    }
    &:hover {
        color: $hover_color;
    }
}

.active {
    color: $hover_color;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}

.header__content {
    margin-right: -100px;
    max-height: 676px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    z-index: 10;
}

.header__title {
    font-weight: $title_weight;
    font-size: 54px;
    line-height: 79px;
    letter-spacing: 0.8px;
    max-width: 674px;
}

.header__text {
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
    letter-spacing: 1.15px;
    max-width: 467px;
    padding-bottom: 42px;
}

.header__img {
    position: relative;
    text-align: center;

}

.header__form {
    border-radius: 29px;
    background: #FFF;
    box-shadow: 0px 17px 42px 0px rgba(0, 0, 0, 0.12);
    max-width: 459px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    
}

.form__input {
    padding: 10px 20px;
    max-width: 154px;
    background-color: transparent;
    border: none;
    opacity: .5;
    margin-left: 72px;
}

